body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:active {
    background-color: #00468c;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    background-color: #007bff;
    color: white;

}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #00468c;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

