body {
    font-family: Arial, sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/028/206/570/original/dusk-roadside-seascape-with-palm-trees-black-and-white-lo-fi-aesthetic-wallpaper-twilight-seaside-palmtrees-outline-2d-cartoon-seascape-illustration-monochrome-lofi-background-chill-vibes-vector.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 0;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border-color: #007bff;
}

button:hover {
    background-color: #0056b3;
}

.toolbar {
    margin-bottom: 10px;
}

.toolbar button {
    margin-right: 5px;
}

