<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blog Index</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/blog_index.css">

</head>
<body>
<div class="container">
	{{#Posts}}
	<div>
	{{#creator}}
		<a href="/blog/{{id}}">{{creator.firstName}}, {{title}}</a><br>
	{{/creator}}
	{{^creator}}
	<a href="/blog/{{id}}">{{title}}</a><br>
	{{/creator}}
	</div>
	{{/Posts}}
	{{^Posts}}
	<p>No posts yet.</p>
	{{/Posts}}
	<br>
	<a href="/blog/new" class="new-post-button">New Post</a>
	<a href="/" class="new-post-button">Back</a>
</div>
</body>
</html>

