<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fokin Panza - Gym</title>
    <link rel="stylesheet" type="text/css" href=css/index.css>
</head>
<body>
<div class="background-image"></div>
<div class="container">
    <h1>Welcome to the Fokin Panza Gym</h1>
    <h1>Available classes:</h1>

    <ul class="cont-ul">
        {{#GroupClasses}}
        <li class="cont-li"><a href="/GroupClasses/{{name}}" class="post-title">{{name}}</a></li>
        {{/GroupClasses}}
    </ul>

    {{^GroupClasses}}
    <p class="post-text">There are no available classes for the moment.</p>
    {{/GroupClasses}}

    <div class="btn-group">
        <a href="/blog" class="btn back-btn">Blog</a>
    </div>

    <p class="text">You can join the classes that match your circumstances.</p>
    <button onclick="window.location.href='GroupClasses/find'" class="btn back-btn">Search a Class</button>
</div>

<div class="main-container">
    <h2> Imagine a new class</h2>
    <p class="post-text"> In our gym we are proud to offer you our new functionality, here you can create your own class
        and we will propose your ideas to our team of trainers and monitors, you can try it now</p>
    <p> Here are all the ideas that your peers have proposed </p>

    <ul class="main-ul">
        {{#ImagineClass}}
        <li class="main-li"><a href="/GroupClasses/{{name}}/{{id}}" class="post-title">{{name}}</a></li>
        {{/ImagineClass}}
    </ul>

    {{^ImagineClass}}
    <p class="post-text"> Be the first to create a class </p>
    {{/ImagineClass}}

    <div class="btn-imagine">
        <a href="/GroupClasses/CreateAClass" class="btn CreateAClass-btn">Try</a>
    </div>

</div>
</body>
</html>



