<!DOCTYPE html>
<html lang="en">
<head>
    <title>Join Class</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/join_class.css">
</head>
<body>
<h1>Are you sure you want to join this class:</h1>
<table border="0.5">
    <thead>
    <tr>
        <th>Day</th>
        <th>Time</th>
        <th>Instructor</th>
        <th>Capacity</th>
    </tr>
    </thead>
    <tbody>
    {{#GroupClass}}
    <tr>
        <td>{{day}}</td>
        <td>{{Time}}</td>
        <td>{{Instructor}}</td>
        <td>{{currentCapacity}}/{{maxCapacity}}</td>
    </tr>
    {{/GroupClass}}
    <form action="/GroupClasses/{{GroupClass.name}}/JoinClass-{{id}}" method="post" enctype="multipart/form-data">
        <h1>Enter username</h1>
        <div>
            <label>Username: </label>
            <input name="username" placeholder="username" required/>
        </div>
        <div>
            <input type="hidden" name="id" value="{{GroupClass.classid}}">
        </div>
        <div>
            <button type="submit">Join</button>
        </div>
        <button onclick="location.href='/GroupClasses/{{GroupClass.name}}';return false;">Back</button>
    </form>
    </tbody>
</table>
</body>
</html>