<!DOCTYPE html>
<html lang="en">
<head>
	<title>Actual Posts</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/show_post.css">
</head>
<body>
{{#Posts}}
<div class="post-container">
	<p>Creator: {{CreatorName}}</p>
	<p>Title: {{title}}</p>
	<p>Text: {{text}}</p>

	{{^ImagePresented}}
	<img src="/blog/{{id}}/image" alt="Post Image" style="max-width: 100%;">
	{{/ImagePresented}}


	<a href="/blog/deletePost/{{id}}" class="btn delete-btn">Delete</a>
	<a href="/blog/changePost/{{id}}" class="btn edit-btn">Edit</a>
</div>
{{/Posts}}
<h2>Create your own post</h2>
<p>You can contribute to our comunity by posting your experiences</p>
<div class="btn-group">
	<a href="/blog/new" class="btn create-btn">Create a post</a>
	<a href="/blog" class="btn back-btn">Back</a>
</div>
</body>
</html>

